body {
    background-color: black;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 30px;
}

h1{
    color:white;  
    margin-right: 40px;
}
h2 {
    color:white;
    font-style: italic;
}

p {
    color: white;
}

a {
    color: blue;
    
}
#logo {
    float: right; 
    width: 100px; /* Ajusta el tamaño según tus necesidades */
    height: auto;
    margin-right: 600px;
    margin-top: -20px; 

}


